venv
data/*
config/config.yaml
bin/*
*.xlsx
*.csv
*.ipynb
*.ipynb_checkpoints
*.html
logs/*
**/__pycache__/*
**/.ipynb_checkpoints/*
__pycache__/*
**/.DS_Store
.DS_Store
.vscode/*
!.vscode/launch.json
!data/sample_data_big.xlsx